<div>
  <div
    [ngClass]="{
    focused_text: isFocused,
    success_text : !isFocused && success && !invalid,
    error_text : !isFocused && !!invalid
    }"
    class="name-class">{{ name }}</div>
  <div
    [ngClass]="{
    focused_container : isFocused,
    success_container : !isFocused && success && !invalid,
    error_container : !!invalid && !isFocused
    }"
    class="input-container">

    <input [type]="type" [(ngModel)]="value"
           [ngClass]="{ focused_cursor: isFocused }"
           class="input" [placeholder]="placeholder"
           (focus)="setFocus()" (blur)="isFocused = false">

    <mat-icon class="error_text" *ngIf="invalid && !isFocused">report</mat-icon>
    <mat-icon class="success_text" *ngIf="success && !invalid && !isFocused">check</mat-icon>

  </div>
  <div *ngIf="!!invalid" class="name-class error_text">
    {{ invalid }}
  </div>

</div>
