@import "variables";

.name-class {
  font-size: 12px;
  line-height: 130%;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  color: $untouched-color;
  margin-left: 15px;
}

.input-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
  border: 1px solid $border-untouched-color;
  border-radius: 8px;
}

.input {
  border: none;
  outline: none;
  font-family: Manrope;
  font-size: 16px;
  line-height: 150%;
  background-color: rgba(0,0,0,0);
}

.focused-container {
  border: 1px solid $touched-input-color;
}

.focused-text {
  color : $touched-input-color;
}

.focused-cursor {
  caret-color: $touched-input-color;
}

.error-container {
  border: 1px solid $input-error-color;
}

.error-text {
  color: $input_error-color;
}

.success-container {
  border: 1px solid $input-success-color;
}

.success_text {
  color: $input-success-color;
}


