$errorColor: red;

.formContainer {
  padding: 100px;
  display: flex;
  justify-content: center;
  & mat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }
}

.serverErrorMessage {
  color: $errorColor;
  font-size: 12px;
}
