<div class="mainContainer">
  <div cdkDropListGroup>
    <div class="external-container">

      <div class="block-container">
        <app-elements [done]="done" (doneEvent)="drop($event)"></app-elements>
      </div>

      <div class="block-container">
        <app-change-styles
          (dropEvent)="drop($event)" (setItemEvent)="setCurrentItem($event)" [styled]="styled">
        </app-change-styles>
      </div>

      <div class="block-container">
        <app-styles [currentElement]="currentElement"></app-styles>
      </div>

    </div>
  </div>
</div>


<ng-template #myButtonTemplate>
  <app-my-button [styles]="buttonData.styles"></app-my-button>
</ng-template>

<ng-template #myTextareaTemplate>
  <app-my-textarea [styles]="textareaData.styles" [placeholder]="textareaData.placeholder"></app-my-textarea>
</ng-template>

<ng-template #myCheckboxTemplate>
  <app-my-checkbox [styles]="checkboxData.styles"></app-my-checkbox>
</ng-template>

<ng-template #myInputTemplate>
  <app-my-input [styles]="inputData.styles" [placeholder]="inputData.placeholder"></app-my-input>
</ng-template>

<ng-template #mySelectTemplate>
  <app-my-select [styles]="selectData.styles"></app-my-select>
</ng-template>
