<div class="formContainer">
  <mat-card [formGroup]="registrationForm">

    <mat-card-header>
      <mat-card-title>Registration Form</mat-card-title>
    </mat-card-header>

    <mat-form-field appearance="fill" class="formGroup">
      <mat-label>Login</mat-label>
      <input formControlName="login" matInput>
      <mat-error *ngIf="login.touched && login.errors?.required">{{'Login' | validation: 'empty'}}</mat-error>
      <mat-error *ngIf="login.errors?.minlength">{{'Login' | validation: 'min-length'}}</mat-error>
      <mat-error *ngIf="login.errors?.maxlength">{{'Login' | validation: 'max-length'}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="formGroup">
      <mat-label>Password</mat-label>
      <input type="password" formControlName="password" matInput>
      <mat-error *ngIf="password.touched && password.errors?.required">{{'Password' | validation: 'empty'}}</mat-error>
      <mat-error *ngIf="password.errors?.minlength">{{'Password' | validation: 'min-length'}}</mat-error>
      <mat-error *ngIf="password.errors?.maxlength">{{'Password' | validation: 'max-length'}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="formGroup">
      <mat-label>Re-password</mat-label>
      <input [errorStateMatcher]="rePasswordErrorManager" type="password" formControlName="rePassword" matInput>
      <mat-error *ngIf="rePassword.touched && registrationForm.errors?.mismatch">Re-password is incorrect</mat-error>
    </mat-form-field>

    <div class="serverErrorMessage">
      <p>{{serverErrorMessage | async}}</p>
    </div>

    <button [disabled]="registrationForm.invalid" (click)="sendDataToServer()" mat-raised-button color="warn">
      Registration
    </button>

  </mat-card>
</div>
