$item-background: white;
$light-color: #ccc;
$dark-color: rgba(0, 0, 0, 0.87);
$light-gray: #999;
$black-opacity-1: rgba(0, 0, 0, 0.2);
$black-opacity-2: rgba(0, 0, 0, 0.14);
$black-opacity-3: rgba(0, 0, 0, 0.12);

$error-color: red;

$untouched_color : #616161;
$border-untouched-color : #A1A1A1;
$touched-input-color : #1672EC;
$input-success-color : #1F8B24;
$input-error-color : #DA100B;
