$item_background: white;
$light_color: #ccc;
$dark_color: rgba(0, 0, 0, 0.87);
$light_gray: #999;
$black_opacity_1: rgba(0, 0, 0, 0.2);
$black_opacity_2: rgba(0, 0, 0, 0.14);
$black_opacity_3: rgba(0, 0, 0, 0.12);

$errorColor: red;

$untouched_color : #616161;
$border_untouched_color : #A1A1A1;
$touched_input_color : #1672EC;
$input_success_color : #1F8B24;
$input_error_color : #DA100B;
