$item_background: white;
$light_color: #ccc;
$dark_color: rgba(0, 0, 0, 0.87);
$light_gray: #999;
$black_opacity_1: rgba(0, 0, 0, 0.2);
$black_opacity_2: rgba(0, 0, 0, 0.14);
$black_opacity_3: rgba(0, 0, 0, 0.12);
